*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #f333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #C4C4C4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3{
    font-size: .8em;
    font-weight: 300;
    color: #666;
}