*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #ecb44a99;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

#calc h3{
    font-size: 0.9em;
    font-weight: 300;
    color: #666;
    padding: 0 2px;
}

/* Display Screen:*/

#operations{
    text-align: right;
    border: 1px solid #eba524;
    padding: .1em;
    margin: 8px 0;
    border-radius: 3px;
}

#previous-operation,
#current-operation{
    padding: .2em;    
    min-height: 1.6em;
    overflow-wrap: break-word;
}

#previous-operation{
    color: #777;
}

#current-operation{
    font-size: 3em;
    font-weight: 700;
    color: #993393;
}

/* Buttons: numbers and operators */

#buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3em;
}

#buttons-container button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #DBDBDB70;
    cursor: pointer;
}

#buttons-container .number{
    background-color: #ffffff97;
}

#buttons-container button:hover{
    background-color: #eba524;
    border-radius: 15px;    
}

#buttons-container .alert:hover{
    /*background-color: #7c2014;*/
    background-color: #ff000090;
    color: #fff;
    transition-delay: 0.2s;
}

#buttons-container #equal-btn{
    grid-column: span 2;
    background-color: #993393;
    color: #fff;
}

#buttons-container #equal-btn:hover{
    background-color: #c428b9;
    transition: all 0.8s ease;
}